* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body{
    background:#5C7457;
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
  }

  .full-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h2{
    font-size: 100px;
  }

  .diceResult{
    border-bottom: 10px solid;
    width: 90%;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
  }

  .roll-the-dice{
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }

  .roll-the-dice:hover{
    background-color: #000;
    color: #fff;
  }

  .reset-the-game{
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
  }

  .reset-the-game:hover{
    background-color: rgb(148, 12, 12);
    color: #fff;
  }